.app-container {
    display: grid;
    grid-template-columns: auto 1fr; /* sidebar + main */
    grid-template-rows: 1fr auto;   /* main + bottom bar */
    height: 100vh;
}

.app-container > *:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
}

.app-container > *:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.app-container > *:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2;
}
